
.vRight{
    border-right: 6px solid green;
    height: auto;
}

.vMiddle{
    border-left: 6px solid gray;
    height: auto;
    // position: absolute;
    left: 50%;
    // margin-left: -3px;
    // top: 0;
}

.textColor{
    color: #d2c9ac;
}

.controlerBgColor{
    background-color: white;
    width: 100%
}