
.vRight{
    border-right: 6px solid green;
    height: auto;
}

.vMiddle{
    border-left: 6px solid gray;
    height: auto;
    // position: absolute;
    left: 50%;
    // margin-left: -3px;
    // top: 0;
}

.textColor{
    color: #d2c9ac;
}

.controlerBgColor{
    background-color: white;
    height: 100%;
  }
  .textBold{
      font-weight: bold;
      color: rgb(94,100,114);
  }

  .contentPadding{
      padding: 1em;
  }

  .vMiddle{
    border-left: 1px solid rgb(238,238,238);
    height: auto;
    left: 50%;
}

  .greenTextColor{
      color: rgb(149,187,110);
  }

table{
    margin-bottom: 0px !important;
}