.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
text-decoration: none;
font-weight: bold;
border-radius:0px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: blue;
    color:blue#000 !important;
  background-color: transparent !important;
  font-weight: bold;
}
.nav-pills > li > a{
    border-radius:0px;
    padding-left: 1em;
    padding-right: 1em;
}

.controlerBgColor{
    background-color: white;
    width: 100%
}