<div class=" container bgColor">
  <div class="row ">
    <div class="col-4">
      <projects></projects>
    </div>
    <div class="col-8">
      <div class="row">
        <!-- <div class="col-8"> -->
          <high-Chart></high-Chart>
        <!-- </div> -->
        <!-- <div class="col-4">
          <home-numbers></home-numbers>
        </div> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <time-table></time-table>
    </div>
    <div class="col">
      <map></map>
    </div>
  </div>
</div>


<!-- <div class=" container bgColor">
  <div class="row ">
    <div class="col-3">
      <projects></projects>
    </div>
    <div class="col-5">
      <high-Chart></high-Chart>
    </div>
    <div class="col-4">
      <home-numbers></home-numbers>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <time-table></time-table>
    </div>
    <div class="col">
      <map></map>
    </div>
  </div>
</div> -->