
.vRight{
    border-right: 6px solid green;
    height: auto;
    margin: 1px;

}

.vMiddle{
    border-left: 6px solid gray;
    height: auto;
    left: 50%;
}

.textColor{
    color: #d2c9ac;
}

.componentBgColor{
    background-color: white;
}

.contentPadding{
    margin-right: 1em;
}
